<% @posttexts.each do |posttext| %>
  <b><p><%= posttext.headline %></p></b>
  <p><%= posttext.content %></p>
  <p><%= posttext.like %></p>
  <p> <%= link_to 'Edit', edit_posttext_path(posttext) %>  | 
      <%= link_to 'Read', posttext_path(posttext) %>    |
      <%= link_to 'Delete', posttext_path(posttext), method: :delete, 
          data: {confirm: 'Are you sure want to delete this post image '} %> </p>    
  <hr>
<% end %>