<center><h1>New Article</h1></center>
 
<div class="container">
  <%= form_for @article do |f| %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
   
   
    <%= f.submit %>
  <% end %>
  <div><%= link_to 'Back', articles_path %></div>
</div>

