<div class="container">
  <h1><%= @article.title %></h1>
  <% @articles_att.each do |att| %>
    
    
    <% if att.try(:image) %>
      <div style="border: 1px solid; margin: 15px 5px;padding: 10px">
        <%= att.headline %>
        <%= image_tag(att.image.url, alt: 'Image') if att.image? %>
        <p><%= link_to 'Edit', edit_postimage_path(att.id)  %></p>
      </div>
      <% else %>
      <div style="border: 1px solid; margin: 5px;padding: 10px">
        <%= att.headline %>
        <p><%= link_to 'Edit', edit_posttext_path(att.id)  %></p>
      </div>
    <% end %>

  <% end%>

  <p><%= link_to 'Edit', edit_article_path(@article)  %>  | <%= link_to 'Back', articles_path %></p>
</div>